// SHADES //

/* Color Theme Swatches in Hex */
$Jacy-shades-1-hex: #F03E3E;
$Jacy-shades-2-hex: #5C1818;
$Jacy-shades-3-hex: #DB3939;
$Jacy-shades-4-hex: #E83C3C;
$Jacy-shades-5-hex: #C23232;

/* Color Theme Swatches in RGBA */
$Jacy-shades-1-rgba: rgba(240,62,62, 1);
$Jacy-shades-2-rgba: rgba(92,24,24, 1);
$Jacy-shades-3-rgba: rgba(219,57,57, 1);
$Jacy-shades-4-rgba: rgba(232,60,60, 1);
$Jacy-shades-5-rgba: rgba(194,50,50, 1);

/* Color Theme Swatches in HSLA */
$Jacy-shades-1-hsla: hsla(0, 85, 59, 1);
$Jacy-shades-2-hsla: hsla(0, 58, 22, 1);
$Jacy-shades-3-hsla: hsla(0, 69, 54, 1);
$Jacy-shades-4-hsla: hsla(0, 78, 57, 1);
$Jacy-shades-5-hsla: hsla(0, 59, 47, 1);


// Tetradic //

$Jacy-tetradic-red: #F03E3E;
$Jacy-tetradic-green: #97F03E;
$Jacy-tetradic-blue: #3EF0F0;
$Jacy-tetradic-purple: #973EF0;


