$Jacy-tetradic-red: #F03E3E;
$Jacy-tetradic-green: #97F03E;
$Jacy-tetradic-blue: #3EF0F0;
$Jacy-tetradic-purple: #973EF0;
$Jacy-triadic-blue: #3E3EF0;
$Jacy-analogous-orange: #F0973E;
$Jacy-analogous-pink: #F03E97;
$Jacy-complementary-cyan: #3EF0F0;

$background: #fcfcfc;
$foreground: #5C6166;

header.page-header {
    padding: 1rem;
    display: none;
}

pre.code-highlight {
    background: $background;
    color: $foreground;

    .func {
        color: $Jacy-analogous-orange;
    }

    .entity {
        color: $Jacy-tetradic-purple;
    }

    .keyword {
        color: $Jacy-tetradic-red;
    }

    .string {
        color: $Jacy-tetradic-green;
    }

    .constant {
        color: $Jacy-tetradic-purple;
    }
}
