$red: #F03E3E;
$dark-red: #A90C1B;

$blue: #4ACBF2;

$orange: #F2AC49;
$dark-orange: #F28F49;

$green: #B2BF54;
$light-green: #E1F249;
$yellow: #F2E649;

$cyan: #4AF2E2;
$purple: #BF49F2;
$pink: #F249B1;

$background: #fbfbfb;
$foreground: #6C7176;

header.page-header {
    padding: 1rem;
    display: none;
}

pre.code-highlight {
    background: $background;
    color: $foreground;

    .func {
        color: $orange;
    }

    .type {
        color: $blue;
    }

    .keyword {
        color: $red;
    }

    .modifier {
        color: $dark-orange;
    }

    .string {
        color: $green;
    }

    .constant {
        color: $purple;
    }
}
